$small-screen: 520px;

body {
  padding: 0;
  margin: 0;
}

#root {
  font-family: "Courier Prime", monospace;

  width: 100vw;

  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p,
  details {
    width: 500px;
    max-width: 90%;
  }

  details {
    summary {
      text-decoration: underline;

      text-align: initial;

      font-size: 90%;
      margin-bottom: 1em;
    }

    p {
      font-size: 80%;
      margin-right: auto;
      margin-left: auto;
    }
  }

  #company-list {
    .percentage-details {
      display: flex;
      justify-content: space-between;
      @media (max-device-width: $small-screen) {
        justify-content: flex-end;
      }
      width: 40%;
    }

    li > .li-content {
      display: flex;
      justify-content: space-between;
    }
  }

  #company-list,
  #company-list > ul {
    margin-bottom: 0;
  }

  .amt-btc {
    text-decoration: underline;
    font-weight: 700;
  }

  #made-by {
    font-style: italic;
    text-align: center;
    margin-bottom: 5em;

    opacity: 0.5;
  }

  img {
    max-height: 200px;
  }

  #btc-summary {
    text-align: center;
    font-size: 130%;
  }
}

@media (max-device-width: $small-screen) {
  .hidden-mobile {
    display: none;
  }
}
