body {
  padding: 0;
  margin: 0;
}

#root {
  font-family: "Courier Prime", monospace;

  width: 100vw;

  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    width: 400px;
    max-width: 90%;
  }

  #amt-btc {
    text-decoration: underline;
    font-weight: 700;
  }

  img {
    max-height: 200px;
  }

  #btc-summary {
    font-size: 130%;
  }
}
